@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F2E1C4, #A19582);
}

main{
    background-color: white;
    width: 600px; /*largura*/
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5a534998;
}

h1{
    color: #6b6558;
    text-align: center;
    text-shadow: 1px 1px 2px #2c2924e8;
}

h2{
    color: #C9BBA3;
}

p{
    text-align: justify;
}